@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
  font-family: fa;
  src: url("static/forkawesome-webfont.woff2");
}

:root {
	--primary: #fff;
	--secondary: #f6f6f6;
	--tertiary: #d7d7d7;
	--accent: #000;
}

.dark {
	--primary: #23272A;
	--secondary: #2C2F33;
	--tertiary: #36393F;
	--accent: #DDDDDD;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: var(--accent);
}

